In [1]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsRegressor
import pickle

In [2]:
sub_grad=pd.read_csv("grade_to_fico.csv")
grad=pd.read_csv("grade_to_apr.csv")

In [3]:
sub_grad.head()

  sub_grade  score   value
0        A1     789      0
1        A2     780      1
2        A3     769      2
3        A4     761      3
4        A5     741      4

In [4]:
grad.head()

   grade_num loan_grade   apr  36_mo  60_mo
0          0         A1  6.03   6.78   7.30
1          1         A2  6.97   7.99   8.26
2          2         A3  7.62   8.99   8.91
3          3         A4  8.60   9.98   9.91
4          4         A5  9.25  10.99  10.56

In [5]:
x=sub_grad['score ']

In [6]:
y=sub_grad['value']

In [7]:
np.reshape(x.values,(1,-1))

array([[789, 780, 769, 761, 741, 736, 733, 724, 719, 704, 696, 698, 689,
        689, 680, 679, 680, 675, 669, 670, 660, 660, 660, 659, 657, 665,
        662, 664, 658, 652, 654, 652, 648, 649, 652]], dtype=int64)

In [8]:
x.values

array([789, 780, 769, 761, 741, 736, 733, 724, 719, 704, 696, 698, 689,
       689, 680, 679, 680, 675, 669, 670, 660, 660, 660, 659, 657, 665,
       662, 664, 658, 652, 654, 652, 648, 649, 652], dtype=int64)

In [9]:
y.head()

0    0
1    1
2    2
3    3
4    4
Name: value, dtype: int64

In [10]:
# initializing knn object
knn_sg = KNeighborsRegressor(n_neighbors=1)

#fiting to the data
knn_sg.fit(np.reshape(x.values, (-1, 1)), y)

KNeighborsRegressor(n_neighbors=1)

In [11]:
# getting prediction for sample value
sub_grad_pred=knn_sg.predict(np.reshape([735],(1,-1)))[0]
sub_grad_pred

5.0

In [12]:
grad[grad['grade_num']==int(sub_grad_pred)]['36_mo'].values[0]

12.46

In [13]:
pickle.dump(knn_sg,open('knn_sg.pkl','wb'))